<!-- <div id="wrapper"> -->

<div id="rightcolumn" class="topnav" id="myTopnav">
    <div class="shpncart" > <a href="#"><span _ngcontent-c1="" class="glyphicon glyphicon-shopping-cart"></span></a></div>
    <div class="favicon"> <a href="#"><span class="glyphicon glyphicon-heart"></span></a></div>
    <div id="leftcolumn" ><img src="assets/logo.jpeg" height="50"/></div>
  <div class="head">
  <a href="#home" class="active">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <div class="dropdown">
    <button class="dropbtn">Dropdown 
      <i class="fa fa-caret-down"></i>
    </button>
  
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
      
    </div>
  
 
</div>  <a href="#about">About</a>
<input type="text" class="search-container" placeholder="Search..">
</div>
</div>
<app-body></app-body> 

<!-- </div> -->

